@font-face {
    font-family: "LuloCleanOne";
    src: url("LuloCleanW01-OneBold.eot");
    src: url("LuloCleanW01-OneBold.eot?#iefix") format("embedded-opentype"),
        url("LuloCleanW01-OneBold.woff2") format("woff2"),
        url("LuloCleanW01-OneBold.woff") format("woff"),
        url("LuloCleanW01-OneBold.ttf") format("truetype"),
        url("LuloCleanW01-OneBold.svg#LuloCleanW01-OneBold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tw Cen MT";
    src: url("TwCenMT-Regular.eot");
    src: url("TwCenMT-Regular.eot?#iefix") format("embedded-opentype"),
        url("TwCenMT-Regular.woff2") format("woff2"),
        url("TwCenMT-Regular.woff") format("woff"),
        url("TwCenMT-Regular.ttf") format("truetype"),
        url("TwCenMT-Regular.svg#TwCenMT-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Caviar Dreams";
    src: url("CaviarDreams.eot");
    src: url("CaviarDreams.eot?#iefix") format("embedded-opentype"),
        url("CaviarDreams.woff2") format("woff2"),
        url("CaviarDreams.woff") format("woff"),
        url("CaviarDreams.ttf") format("truetype"),
        url("CaviarDreams.svg#CaviarDreams") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Avenir Light";
    src: url(./AvenirLight.eot);
    src: url(./AvenirLight.eot?#iefix) format("embedded-opentype"),
        url(./AvenirLight.woff2) format("woff2"),
        url(./AvenirLight.woff) format("woff"),
        url(./AvenirLight.ttf) format("truetype"),
        url(./AvenirLight.svg#Avenir%20Light) format("svg"),
        url(./AvenirLight.otf) format("otf");
    font-display: swap;
}
