.content {
    color: white;
    font-weight: lighter;
    font-size: 15px;
}
.fondEcran {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}
.container {
    width: 980px;
    margin: auto;
}
.accompagnement {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 21px;
}
.separatorBlack {
    width: 40px;
    height: 40px;
    border-top: black solid 2px;
}
.separatorWhite {
    width: 40px;
    height: 40px;
    border-top: white solid 2px;
}
.rectangleWhite {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px 281px;
    width: 1500px;
    margin-left: -281px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.h2Yellow {
    font-family: "LuloCleanOne";
    text-transform: uppercase;
    color: #f7b800;
    margin-bottom: 25px;
    font-size: 11px;
}
.p {
    margin-left: 20px;
    margin-bottom: 20px;
}
.pEnd {
    margin-left: 20px;
}
.h1 {
    font-family: "LuloCleanOne";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 13.3px;
}

.infos {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.info {
    width: 400px;
}
.span {
    color: #f7b800;
}
.img {
    width: 980px;
    height: 330px;
    margin-left: -21px;
    margin-bottom: 40px;
}
.thematique {
    background-color: #fff;
    padding: 40px 21px 20px 21px;
    color: black;
    margin-bottom: 40px;
    width: 980px;
    margin-top: 10px;
    margin-left: -21px;
    box-sizing: border-box;
}
.titleYellow {
    color: #f7b800;
    font-size: 14px;
    letter-spacing: 5.6px;
    margin-bottom: 20px;
    line-height: 15px;
}
.titleBlue {
    color: #2b7c74;
    font-size: 14px;
    letter-spacing: 5.6px;
    margin-bottom: 20px;
    line-height: 15px;
}
.titleGrey {
    color: #a19c9c;
    font-size: 14px;
    letter-spacing: 5.6px;
    margin-bottom: 20px;
    line-height: 15px;
}
.titleRed {
    color: #de5021;
    font-size: 14px;
    letter-spacing: 5.6px;
    margin-bottom: 20px;
    line-height: 15px;
}
.infoText {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 15.5px;
}
.infoThematique {
    width: 200px;
}
.textDark {
    font-weight: bold;
}
.essai {
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    line-height: 14.3px;
    font-family: "LuloCleanOne";
    width: 460px;
    margin: 0 auto;
    letter-spacing: 0.3px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 11px;
}
.essaiText {
    margin-bottom: 15px;
}
.a {
    cursor: pointer;
    font-family: "Caviar Dreams";
    margin-top: 12px;
    height: 40px;
    width: 150px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 14px;
    text-transform: initial;
    letter-spacing: normal;
}

@media only screen and (min-width: 320px) and (max-width: 650px) {
    .content {
        width: 100vw;
        background-image: none;
        background-color: black;
    }
    .fondEcran {
        display: none;
    }
    .container {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .h1 {
        font-size: 13px;
        line-height: 13px;
    }
    .separatorWhite {
        display: none;
    }
    .separatorBlack {
        display: none;
    }
    .rectangleWhite {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0 auto;
        margin-bottom: 25px;
        margin-left: -21px;
        padding: 10px 21px;
        padding-top: 0;
    }
    .h2Yellow {
        margin-top: 8px;
        margin-bottom: 7px;
        font-size: 12px;
        line-height: 14px;
    }
    .p {
        margin-bottom: 6px;
    }
    .img {
        display: none;
    }
    .infos {
        display: flex;
        flex-direction: column;
    }
    .info p {
        margin-bottom: 7px;
    }
    .info {
        width: 100%;
    }
    .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoThematique {
        width: 100%;
    }
    .thematique {
        width: 100vw;
    }
    .essai {
        width: 100vw;
        margin-left: -21px;
    }
}
