.container {
    color: white;
    width: 980px;
    margin: auto;
    font-size: 12px;
    padding-top: 8px;
}
.h2 {
    font-size: 14px;
    font-family: "Avenir Light";
    font-weight: bold;
    margin-bottom: 1px;
    letter-spacing: 1px;
}
.h3 {
    line-height: 13px;
    font-family: "Avenir Light";
}
.p {
    margin-bottom: 20px;
    line-height: 17px;
    font-size: 12px;
}
.final {
    line-height: 14px;
}
.a {
    text-decoration: underline;
    cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 650px) {
    .container {
        margin: 0 auto;

        width: 100vw;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: lighter;
        padding: 10px 15px;
    }
    .h2 {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
    }
    .h3 {
        font-size: 13px;
        font-weight: bold;
    }
}
