.content {
    /* background-image: url("../images/heart-n-brain-fond-ecran.webp");
    background-repeat: no-repeat;
    background-size: cover; */
    padding-top: 30px;
    color: white;
    font-weight: lighter;
    font-size: 16px;
}
.fondEcran {
    margin-top: -30px;
    width: 100%;
    height: 1068px;
    position: absolute;
    background-image: url("../images/heart-n-brain-fond-ecran.webp");
    background-repeat: no-repeat;

    background-size: cover;
    z-index: -1;
}
.slider {
    margin: 0 auto;
    margin-bottom: 50px;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.slider::before,
.slider::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 2;
}
.slider::before {
    top: 0;
    left: 0;
}
.slider::after {
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
.sliderTrack {
    display: flex;
    width: calc(250px * 13);
    animation: scroll 40s infinite linear;
    justify-content: space-between;
}
.slide {
    width: min-content;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.imgSlide {
    height: 35px;
}
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-2052.5px);
    }
}

.container {
    width: 980px;
    margin: auto;
}
.title {
    height: 110px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-size: 25px;
    letter-spacing: 4.5px;
    line-height: 30px;
    margin-bottom: 50px;
    font-family: "Tw Cen MT";
}
.h2 {
    font-family: "luloCleanOne";
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -1.6px;
    margin-bottom: 35px;
    font-weight: bold;
}
.separatorWhite {
    width: 40px;
    height: 40px;
    border-top: white solid 2px;
}
.separatorBlack {
    width: 40px;
    height: 40px;
    border-top: black solid 2px;
}
.p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 17px;
}
.bold {
    font-weight: 900;
}
.strong {
    color: #f7b800;
    font-size: 15px;
    line-height: 17px;
}
.italique {
    font-style: italic;
    font-size: 15px;
    line-height: 17px;
}
.promise {
    background-color: #000;
    padding: 50px 0;
}
.padding {
    padding: 0 21px;
}
.paddingContact {
    padding: 0 21px;
}
.columns {
    display: flex;
    justify-content: space-between;
}
.column {
    width: 280px;
}
.image {
    margin-bottom: 10px;
}
.reveal {
    background-color: #fff;
    color: #000;
    padding: 50px 25px;
}
.columnsVideo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.video {
    margin-right: 6px;
}
.movie {
    border: none;
    height: 280px;
    width: 480px;
}
.ul {
    list-style: initial;
    margin: 15px 0;
    margin-left: 20px;
    font-size: 15px;
    line-height: 17px;
}
.a {
    text-decoration: underline;
    color: #3078be;
}
.contact {
    color: #fefdfd;
    padding: 50px 0;
}
.form {
    display: flex;
    flex-direction: column;
    width: 533px;
    color: #fefdfd;
}
.input {
    margin-bottom: 5px;
    border: solid #fefdfd 2px;
    background-color: #000;
    height: 32px;
    padding: 0 5px;
    color: #fefdfd;
    font-family: "Tw Cen MT";

    font-size: 15px;
}
.input:focus {
    outline: none;
}
.area {
    margin-bottom: 8px;
    border: solid #fefdfd 2px;
    background-color: #000;
    height: 130px;
    padding: 5px;
    font-size: 15px;
    font-family: "Tw Cen MT";

    color: #fefdfd;
}
.area::placeholder {
    color: #fefdfd;
}
.are:focus {
    outline: none;
}
.input::placeholder {
    color: #fefdfd;
}
.button {
    color: #fefdfd;
    background-color: #000;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: "Avenir Light";
}
.button:hover {
    color: #f7b800;
}
.succes {
    color: #f7b800;
    display: flex;
    justify-content: space-between;
}
.text {
    width: 533px;
    margin-bottom: 40px;
    line-height: 23px;
}
.span {
    color: #f7b800;
    text-decoration: underline;
}
.buttonSocial {
    background: rgb(253, 233, 189);
    background: linear-gradient(
        90deg,
        rgba(253, 233, 189, 1) 0%,
        rgba(253, 198, 151, 1) 72%
    );
    height: 100px;
    width: 285px;

    border: white solid 1px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 45px;
    color: Black;
}
.imgSocial {
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    transition-duration: 0.9s;
}
.imgSocial:hover {
    opacity: 1;
    border-top: solid 1px black;
    padding-top: 7px;
    margin-top: 7px;
    height: 70px;
    width: 100%;
    justify-content: center;
    display: flex;
    transition-duration: 0.5s;
}

.linkedin {
    margin-right: 15px;
}
.formSocial {
    display: flex;
    justify-content: space-between;
}
.contactRight {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (min-width: 320px) and (max-width: 650px) {
    .content {
        width: 100vw;
        background-image: none;
        background-color: black;
    }
    .slider {
        width: 100vw;
    }
    .container {
        margin: 0 auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .promise {
        margin-top: 0;
    }
    .title {
        height: fit-content;
        font-size: 20px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        width: 100vw;
        box-sizing: border-box;
    }
    .padding {
        width: 100%;
    }
    .columns {
        display: flex;
        flex-direction: column;
    }
    .column {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: solid white 1px;
        width: 100%;
    }
    .columnsVideo {
        display: flex;
        flex-direction: column;
    }
    .video {
        width: 97vw;
        margin-bottom: 10px;
    }
    .movie {
        width: 100%;
    }
    .separatorBlack {
        display: none;
    }
    .separatorWhite {
        display: none;
    }
    .reveal {
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }
    .padding {
        margin: 0 auto;
    }

    .form {
        display: flex;
        flex-direction: column;
        color: #fefdfd;
        width: 98%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .input {
        margin-bottom: 5px;
        border: solid #fefdfd 2px;
        background-color: #000;
        height: 32px;
        padding: 0 5px;
        color: #fefdfd;
        font-size: 15px;
    }
    .text {
        width: 98%;
        margin: 0 auto;
    }
    .formSocial {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .imgSocial {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        opacity: 1;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 10px;
        height: 30px;
    }
    .contactRight {
        height: 215px;
    }
}
