.content {
    color: white;
    font-weight: lighter;
    font-size: 15px;
}
.fondEcran {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../public/fond.jpg");
    background-size: cover;
    z-index: -1;
}
.container {
    width: 980px;
    margin: auto;
}
.h1 {
    font-family: "LuloCleanOne";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 13.3px;
}
.parcours {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 21px;
}
.separatorWhite {
    width: 40px;
    height: 40px;
    border-top: white solid 2px;
}
.separatorBlack {
    width: 40px;
    height: 40px;
    border-top: black solid 2px;
}
.rectangleWhite {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px 281px;
    width: 1500px;
    margin-left: -281px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.h2Yellow {
    font-family: "LuloCleanOne";
    text-transform: uppercase;
    color: #f7b800;
    margin-bottom: 25px;
    font-size: 12px;
}
.p {
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 12.5px;
}
.pEnd {
    margin-left: 20px;
}
.title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.infos {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.info {
    width: 270px;
}
.infoEx {
    width: 270px;
}
.textInfo {
    margin-top: 15px;
    font-size: 15px;
    line-height: 17px;
}
.strong {
    font-weight: 400;
}
.img {
    width: 980px;
    height: 310px;
    margin-left: -21px;
    margin-bottom: 40px;
}
.contact {
    width: 370px;
    background-color: #f7b900;
    display: flex;
    text-align: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: -25px;
}
.contact:hover {
    color: #f7b800;
    background-color: #fff;
}
.exemple {
    background-color: #fff;
    padding: 40px 21px 20px 21px;
    color: black;
    margin-bottom: 40px;
}
.essai {
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    line-height: 14.3px;
    font-family: "LuloCleanOne";
    width: 460px;
    margin: 0 auto;
    letter-spacing: 0.3px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 12px;
}
.essaiText {
    margin-bottom: 15px;
}
.essai-Bold {
    font-weight: bold;
}
.a {
    cursor: pointer;
    font-family: "Caviar Dreams";
    margin-top: 12px;
    height: 40px;
    width: 150px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 14px;
    text-transform: initial;
    letter-spacing: normal;
}
.span {
    color: #f7b800;
}
.titleYellow {
    color: #f7b900;
    font-size: 14px;
    letter-spacing: 5.6px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 17px;
}
.titleBlue {
    color: #2b7c74;
    font-size: 14px;
    letter-spacing: 5.6px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 17px;
}
.titleGrey {
    color: #a19c9c;
    font-size: 14px;
    letter-spacing: 5.6px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 17px;
}
.infoText {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 15.5px;
}
.finEnjeux {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 650px) {
    .content {
        width: 100vw;
        background-image: none;
        background-color: black;
    }
    .fondEcran {
        display: none;
    }
    .container {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .separatorWhite {
        display: none;
    }
    .separatorBlack {
        display: none;
    }
    .rectangleWhite {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 0 auto;
        margin-bottom: 25px;
        margin-left: -21px;
        padding: 10px 21px;
        padding-top: 0;
    }
    .h2Yellow {
        margin-top: 8px;
        margin-bottom: 7px;
        font-size: 12px;
        line-height: 14px;
    }
    .h1 {
        font-size: 13px;
        line-height: 13px;
    }

    .p {
        line-height: 15px;
        margin-bottom: 9px;
        margin-left: 0px;
    }
    .pEnd {
        line-height: 15px;
        margin-left: 0px;
    }
    .infos {
        display: flex;
        flex-direction: column;
    }
    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 22px;
    }
    .infoText {
        text-align: left;
    }
    .titleBlue {
        text-align: left;
    }
    .titleGrey {
        text-align: left;
    }

    .titleYellow {
        text-align: left;
    }

    .img {
        display: none;
    }
    .essai {
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    .exemple {
        padding-bottom: 0px;
    }
    .infos {
        margin-bottom: 15px;
    }
    .finEnjeux {
        margin-top: -30px;
        text-align: left;
        font-size: 14.5px;
        line-height: 17px;
        border-top: solid 1px black;
        padding-top: 25px;
    }
}
