.container {
    color: white;
    width: 980px;
    margin: auto;
    font-size: 12px;
    padding-top: 8px;
}
.h1 {
    font-size: 15px;
    font-family: "luloCleanOne";
    margin-bottom: 20px;
    text-transform: uppercase;
}
.h2 {
    font-size: 15px;
    font-family: "luloCleanOne";
    margin-bottom: 20px;
    text-transform: uppercase;
}
.h3 {
    font-size: 12px;
    margin-bottom: 20px;
    font-family: "luloCleanOne";
    text-transform: uppercase;
}

.a {
    text-decoration: underline;
    cursor: pointer;
}
.p {
    margin-bottom: 20px;
}
.ul {
    margin-left: 20px;
    list-style: initial;
    margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 650px) {
    .container {
        margin: 0 auto;

        width: 100vw;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        padding: 10px 15px;
    }
    .h1 {
        font-size: 14px;
    }
    .h2 {
        font-size: 13px;
    }
    .h3 {
        font-size: 12px;
    }
}
