.content {
    color: white;
    font-weight: lighter;
    font-size: 15px;
}
.container {
    width: 980px;
    margin: auto;
    padding: 0 21px;
}
.containerTestimony {
    width: 980px;
    height: 100%;
    padding: 0 21px;
}
.testimony {
    padding: 30px 0;
    height: 727px;
    margin-top: -92px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonyMobile {
    display: none;
}
.testimonyContent {
    width: 640px;
    line-height: 18.5px;
    margin-bottom: 40px;
}
.textTestimony {
    font-size: 15px;
}
.textName {
    color: #f9e2a6;
}
.logo {
    width: 100px;
    height: 26px;
    margin-bottom: 20px;
    padding: 2px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trustUs {
    margin-bottom: 40px;
}
.title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: bold;
    letter-spacing: 5px;
    display: flex;
    align-items: flex-end;
    margin-top: -15px;
}
.textTitle {
    margin-right: 15px;
}

.chevron:hover {
    opacity: 0.5;
    cursor: pointer;
}
.h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: bold;
}
.separatorWhite {
    width: 40px;
    height: 40px;
    border-top: white solid 2px;
}
.trustBox {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
}
.trustBox2 {
    display: flex;
    justify-content: center;
}
.boxDarkBlue {
    height: 160px;
    width: 160px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #324258;
    margin: 0 27.5px;
}
.boxYellow {
    height: 160px;
    width: 160px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #f7b900;
    margin: 0 27.5px;
}
.boxBlue {
    height: 160px;
    width: 160px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #043c53;
    margin: 0 27.5px;
}
.boxGrey {
    height: 160px;
    width: 160px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #a19c9c;
    margin: 0 27.5px;
}
.contentBox {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0 3px;
}
.contrex {
    display: flex;
    align-items: center;
}
.text {
    margin-left: 20px;
    width: 480px;
}
@media only screen and (min-width: 320px) and (max-width: 650px) {
    .testimony {
        display: none;
    }
    .testimonyMobile {
        display: flex;
        width: 100vw;
    }
    .separatorWhite {
        display: none;
    }
    .container {
        margin: 0 auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .textMobile {
        padding-top: 30px;
    }
    .trustBox {
        display: flex;
        margin-bottom: 0;
        flex-wrap: wrap;
    }
    .trustBox2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .boxBlue {
        margin-bottom: 20px;
    }
    .boxDarkBlue {
        margin-bottom: 20px;
    }
    .boxGrey {
        margin-bottom: 20px;
    }
    .boxYellow {
        margin-bottom: 20px;
    }
}
